.button {
  width: 5.625rem;
  height: 3.375rem;

  border-style: none;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;

  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.button:hover {
  background: var(--blue);
}