.input{
  display: block;
  width: 40rem;
  height: 3.375rem;
  margin-right: 8px;
  padding-left: 18px;

  background: var(--gray-500);
  color: var(--gray-100);
  border-style: none;
  border-radius: 8px;
  align-items: flex-end;
}